<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="usuarios.css">
    <title>DetalleVentas</title>
</head>
<body>

<div class="navbar">
    <h2>DetalleVentas</h2>
</div>

<div class="container">
    <div class="form-card">
        <h2>Registrar Detalle Venta</h2>

        <div class="imagen">
            <img src="AgregarDetalleVenta.png" alt="Imagen de un detalle venta siendo agregada" width="150" height="150">
        </div>
<div class="form-grid">

    <div class="input-group">
        <input type="number" placeholder="Cantidad">
    </div>

    <div class="input-group">
        <input type="number" placeholder="PrecioUnitario">
    </div>

    <div class="input-group">
        <input type="number" placeholder="Subtotal">
    </div>

    <div class="input-group">
        <input type="number" placeholder="FK_Producto">
    </div>

    <div class="input-group">
        <input type="number" placeholder="FK_Ventas">
    </div>

    <div class="input-group">
        <input type="number" placeholder="Estado (0 o 1)">
        <br>
        <br>
    </div>

</div>

        <button>Registrar</button>
        <br>
        <br>
        <button class="volver" onclick="location.href='/menu'">Volver</button>
    </div>
</div>

</body>
</html>