<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>Login</title>
</head>
<body>

<div class="login-container">
    <h2>Iniciar Sesión</h2>

    <img src="UsuarioPerfil.webp" alt="Imagen de una persona formal" width="200" height="200">

    <form th:action="@{/login}" method="post">
        <div class="input-group">
            <input type="text" name="usuario" placeholder="Usuario" required>
        </div>

        <div class="input-group">
            <input type="password" name="password" placeholder="Contraseña" required>
        </div>

        <button type="submit">Ingresar</button>
    </form>

</div>

</body>
</html>