<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="menu.css">
    <title>Menú</title>
</head>
<body>

<div class="container">

    <div class="left">

        <h2>Bienvenido</h2>
        <p>Selecciona una opción:</p>

        <div class="grid">

            <a th:href="@{/productos}" class="menu-btn">
                <img src="images/EntidadProducto.png" alt="Productos">
                <span>Productos</span>
            </a>

            <a th:href="@{/usuarios}" class="menu-btn">
                <img src="images/EntidadUsuario.png" alt="Usuarios">
                <span>Usuarios</span>
            </a>

            <a th:href="@{/clientes}" class="menu-btn">
                <img src="images/EntidadCliente.png" alt="Clientes">
                <span>Clientes</span>
            </a>

            <a th:href="@{/ventas}" class="menu-btn">
                <img src="images/EntidadVenta.png" alt="Ventas">
                <span>Ventas</span>
            </a>

            <a th:href="@{/detalleVentas}" class="menu-btn">
                <img src="images/EntidadDetalleVenta.png" alt="Detalle Ventas">
                <span>Detalle Ventas</span>
            </a>

        </div>

    </div>

    <div class="right" th:if="${session.usuario != null}">


        <img th:if="${session.rol == 'ADMIN'}"
             src="images/FotoPersonal.jpeg"
             class="perfil-img"
             alt="Admin">

        <form th:if="${session.rol == 'USER'}"
              th:action="@{/subirImagen}"
              method="post"
              enctype="multipart/form-data">

            <label for="fileInput">
                <img th:src="@{/loginInicio/imagen}" class="perfil-img">
            </label>

            <input type="file" name="file" id="fileInput" accept="image/png, image/jpeg" hidden>

            <br>
            <br>
            <button type="submit">Guardar imagen</button>

        </form>

        <p th:text="'Usuario: ' + ${session.usuario}"></p>
        <p th:text="'Rol: ' + ${session.rol}"></p>

        <a href="/logout" class="logout-btn">Cerrar sesión</a>

    </div>

</div>

</body>
</html>