<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="usuarios.css">
    <title>Usuarios</title>
</head>
<body>

<div class="navbar">
    <h2>Usuarios</h2>
</div>

<div class="container">
    <div class="form-card">
        <h2>Registrar Usuario</h2>

        <div class="imagen">
        <img src="AgregarUsuario.png" alt="Imagen de un usuario siendo agregado" width="150" height="150">
        </div>

        <div class="form-grid">

            <div class="input-group">
                <input type="text" placeholder="Username">
            </div>

            <div class="input-group">
                <input type="password" placeholder="Password">
            </div>

            <div class="input-group">
                <input type="email" placeholder="Email">
            </div>

            <div class="input-group">
                <input type="text" placeholder="Rol">
            </div>


            <div class="input-group">
                <input type="number" placeholder="Estado (0 o 1)">
                <br>
                <br>
            </div>

        </div>

        <button>Registrar</button>
        <br>
        <br>
        <button class="volver" onclick="location.href='/menu'">Volver</button>
    </div>
</div>

</body>
</html>