<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="usuarios.css">
    <title>Productos</title>
</head>
<body>

<div class="navbar">
    <h2>Ventas</h2>
</div>

<div class="container">
    <div class="form-card">
        <h2>Registrar Venta</h2>

        <div class="imagen">
            <img src="AgregarVenta.png" alt="Imagen de una venta siendo agregada" width="150" height="150">
        </div>

<div class="form-grid">

    <div class="input-group">
        <input type="date" placeholder="Fecha">
    </div>

    <div class="input-group">
        <input type="number" placeholder="Total">
    </div>

    <div class="input-group">
        <input type="number" placeholder="Estado (0 o 1)">
    </div>

    <div class="input-group">
        <input type="number" placeholder="FK_Clientes">
    </div>

    <div class="input-group">
        <input type="numer" placeholder="FK_Usuarios">
    </div>
        <br>
        <br>
</div>
        <button>Registrar</button>
        <br>
        <br>
        <button class="volver" onclick="location.href='/menu'">Volver</button>
    </div>
</div>

</body>
</html>