body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #89cbad;
}

/* NAVBAR */
.navbar {
    background: #4fb286;
    padding: 15px;
    color: white;
    text-align: center;
}

/* CONTENEDOR */
.container {
    display: flex;
    justify-content: center;
    padding: 60px;
}

/* TARJETA */
.form-card {
    background: #4fb286;
    padding: 40px;
    border-radius: 20px;
    width: 420px;
    color: white;
}

/* GRID */
.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

input {
    padding: 10px;
    border-radius: 10px;
    border: none;
}

/* BOTONES */
.botones {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

button, .listar {
    padding: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    text-align: center;
}

/* COLORES */
.listar {
    background: #3498db;
    color: white;
}

.volver {
    background: #777;
    color: white;
}

/* PANEL */
#togglePanel {
    display: none;
}

.panel-lista {
    position: fixed;
    top: 0;
    left: -820px;
    width: 700px;
    height: 100%;
    background: white;
    padding: 20px;
    transition: 0.3s;
    overflow-y: auto;
}

/* ACTIVAR PANEL */
#togglePanel:checked ~ .panel-lista {
    left: 0;
}

/* HEADER PANEL */
.panel-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cerrar-btn {
    cursor: pointer;
    background: red;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

/* TABLA */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

/* BOTONES TABLA */
.btn-edit {
    background: #3a9d73;
    color: white;
}

.btn-delete {
    background: #e74c3c;
    color: white;
}

.imagen {
    display: flex;
    justify-content: center;
    align-items: center;
}