body {
 margin: 0;
 font-family: 'Poppins', sans-serif;
 background: #89cbad;

}

.menu-navbar {
 display: flex;
 justify-content: space-between;
 align-items: center;
 background: #4fb286;
 padding: 15px 30px;
 color: white;
}

.menu-opciones {
 list-style: none;
 display: flex;
 gap: 20px;
}

.menu-opciones a {
 color: white;
 text-decoration: none;
}

.menu-contenido {
 padding: 40px;
}

.card {
 background: white;
 padding: 20px;
 border-radius: 15px;
 box-shadow: 0 4px 10px rgba(0,0,0,0.1);
 margin-bottom: 20px;
}

/* DROPDOWN */
.dropdown {
 position: relative;
 display: inline-block;
}

.dropbtn {
 background-color: #3a9d73;
 color: white;
 padding: 10px 15px;
 border: none;
 border-radius: 8px;
 cursor: pointer;
 font-size: 16px;
}

.dropbtn:hover {
 background-color: #2e7d5b;
}

/* CONTENIDO OCULTO */
.dropdown-content {
 display: none;
 position: absolute;
 right: 0;
 background-color: white;
 min-width: 180px;
 box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
 border-radius: 10px;
 overflow: hidden;
 padding: 0;
}

/* ITEMS */
.dropdown-content li {
 list-style: none;
}

.dropdown-content li a {
 color: #333;
 padding: 12px 15px;
 display: block;
 text-decoration: none;
}

.dropdown-content li a:hover {
 background-color: #f1f1f1;
}

/* MOSTRAR MENU */
.dropdown:hover .dropdown-content {
 display: block;
}